.status {
    position: fixed;
    left: $spacer;
    right: $spacer;
    bottom: 6rem;
    box-shadow: $box-shadow-lg;

    animation: appear .2s;

    &.disappear {
        animation: disappear 200ms forwards;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(.8);
    }
    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale(.8);
    }
}