@import "./fonts";
@import "./variables";
@import "./bootstrap";

body {
    background-image: url(../images/website-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
}

.bg-acrylic {
    // -webkit-backdrop-filter: blur(10px) saturate(180%);
    // backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(white,.15);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAEAgMAAADUn3btAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlQTFRFAAAAIh0d////87q3ngAAAAJ0Uk5TADUgIAkbAAAAAWJLR0QCZgt8ZAAAAAlwSFlzAAAASAAAAEgARslrPgAAABBJREFUCNdjCGAIYGBlYAUAA9wAqwPFtesAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTktMDUtMTNUMTc6MTQ6MjMrMDA6MDAfImpwAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE5LTA1LTEzVDE3OjE0OjIzKzAwOjAwbn/SzAAAAABJRU5ErkJggg==);
}

.bg-main {
    background-image: linear-gradient($body-bg, rgba($body-bg, .0));
}

.App > .row > div {
    height: 100vh;
}

.tabs-nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: space-evenly;
}

.et-nav-item {
    padding: $spacer;
    transition: transform .1s;

    &, &:hover {
        color: $white;
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        transform: scale(.9);
    }

    &:not(.active) {
        opacity: .7;
        &:hover {
            opacity: 1;
        }

        .et-nav-item-icon-filled {
            display: none;
        }
    }

    &.active {
        .et-nav-item-icon-outlined {
            display: none;
        }
    }
}

.tabs-nav {
    .et-nav-item {
        text-align: center;
    }
}

.menu-nav {
    .et-nav-item {
        display: flex;
        align-items: center;

        .et-nav-item-label {
            margin-left: $spacer/2;
        }
    }
}